/* Specific styles for this page */

@import "tailwindcss";

.calculate-btn {
    background-color: #135c60;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 114px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  .calculate-btn:hover {
    background-color: #0e4c4f;
  }
  
  .input-container {
    margin-top: 20px;
    width: 100%;
  }
  
  .blood-pressure-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .footer {
    background-color: #08250a;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  